*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    scroll-behavior: unset;
}

input[type="text"]{
    text-align: center;
    background-color: antiquewhite;
}

footer{
    position: relative;
}


#gold{
    width: 100%;
    border: 1.5px solid gold;
    margin: 1em auto;
}

.GeneratedTable1 {
    width: 90%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
    margin: 1em auto;
}
  
.GeneratedTable1 td, .GeneratedTable1 th {
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    padding: 3px;
}
  
.GeneratedTable1 thead {
    background-color: #ffcc00;
}


#metals{
    width: 100%;
    border: 1.5px solid silver;
    margin: 1em auto;
}

.GeneratedTable2 {
    width: 90%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: silver;
    border-style: solid;
    color: #000000;
    margin: 1em auto;
}
  
.GeneratedTable2 td, .GeneratedTable2 th {
    border-width: 2px;
    border-color: silver;
    border-style: solid;
    padding: 3px;
}
  
.GeneratedTable2 thead {
    background-color: silver;
}
    